/*animacion de imagen seccion about*/
.fotos{
	max-width: 100%;
	background-size: 100%;
	height: 422px;
	animation-name: anifoto; /*nombre animacion*/
	animation-duration: 8s;	/*duracion de animacion*/
	animation-iteration-count: infinite; /*cuantas veces se repetira*/
}
@keyframes anifoto {
	0% {
		background-image: url("../img/agency-img3.jpg");/*las imagenes cambiaran*/
	}
	100% { 
		background-image: url("../img/agency-img2.jpg");/*las imagenes cambiaran*/
	}
}