/*tipo de fuente*/
*{
	font-family: 'Roboto';
	color: #FFF;
}
body{
/*	padding-top: 5%;*/
}
/*color menu*/
.bg-verde{
	background-color: #26AD60;
}
/*estilos del menu*/
.navbar{
	border-radius: 0;
}
.nav li a{
	color: #fff;
}
/*color texto negro*/
.texto-negro{
	color: #000;
}
/*imagen de fondo texto principal*/
.carousel-bg{
	background-image: url("../img/carousel-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}
h1{
	font-size: 4em;
}
/*fondo azul*/
.bg-azul{
	background-color: #2D3E50;
}
/*imagen fondo de redes*/
.bg-redes{
	background-image: url("../img/img-divider-img.jpg");
	background-size: 100%;
	background-position: top;
/*	padding: 80px 0px 160px;
*/}
