@media (max-width: 767px) {
	.caja-color{
		height: 50px;
		width: 100%;
		text-align: center;
	}
	/*espacio del boton de precios*/
	.espacio{
		padding: 5% !important;
	}
	/*input de footer*/
	.icon{
		width: 90%;
		padding-left: 2%; 	
	}
	/*posicion de icon input*/
	.position{
		padding: 3%;
		position: absolute;
		left: 0%;
	}
	h1{
		font-size: 2em;
		letter-spacing: 2px;
	}
	.text-1{
		font-size: .5em;
	}
	/*texto de subtitulos*/
	h2{
		font-size: 1.5em;
		word-spacing: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.caja-color{
		height: 100px;
		width: 20%;
		text-align: center;
	}
	/*espacio del boton de precios*/
	.espacio{
		padding: 10% !important;
	}
	/*input de footer*/
	.icon{
		width: 80%;
		padding-left: 2%;
	}
	/*posicion de icon input*/
	.position{
		padding: 2%;
		position: absolute;
		left: 7%;
	}
	h1{
		font-size: 3em;
		letter-spacing: 2px;
	}
	.text-1{
		font-size: 1em;
	}
	/*texto de subtitulos*/
	h2{
		font-size: 2.5em;
		word-spacing: 10px;
	}
}
@media (min-width: 1200px) {
	/*espacio del boton de precios*/
	.espacio{
		padding: 15% !important;
	}
	/*input de footer*/
	.icon{
		width: 60%;
		padding-left: 2%;
	}
	/*posicion de icon input*/
	.position{
		padding: 1.2%;
		position: absolute;
		left: 17%;

	}
}
/*Cuales son los brakpoints que se utilizan para bootstrap y cuales estilos deben de estar*/